
/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;
$button-background-color: #f58220;
$chart-signups-color: #56819f;
$chart-ftd-color: #ffa200;
$chart-earned-color: #74B67A;
$grey-tab-color: #F5F5F5;
$links-color: white;

// $links-color: #56819f;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
$logo-font: 'Satisfy', cursive;
// $main-font: 

/* Sizes*/
$sidebar-width: 220px;
$topbar-width: 88%