/* Sidebar */
.sidenav {
    height: 100vh; //to jest wielkosc ekranu
    width: $sidebar-width;//L
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: $paragraph-color;
    overflow-x: hidden;
    padding-top: 20px;
    & .logo-wrapper {
        padding-bottom: 10px;
        & .logo {
        font-family: $logo-font;
        color: $links-color;
        font-size: 30px;
        padding-left: 10px; 
        display: inline;
        margin-right: 0;
        margin-right: 10px;
      }
      .hamburger-icon {
        width: 25px;
        height: 22px;
        font-size: 24px;
        filter: invert(83%) sepia(78%) saturate(0%) hue-rotate(202deg) brightness(93%) contrast(85%);
        margin-left: 35px;
      }      
    }
    .horizontal-line {
      border-top: 1px groove $grey-tab-color; 
       }
    h2 {
      margin-top: 30px; 
      color: $grey-tab-color;
      font-size: 15px;
      text-align: left;
      padding-left: 27px;
    }
    p {
      color: $chart-signups-color;
      font-size: 17px;
    }
  }
  
  .menu{
  color: $grey-tab-color;
  font-size: 18px;
  display: table;
  padding: 5px;
  width: 100%;
  
  & li {
    position: relative;
    display: flex;
    height: 56px;
    width: 208px;
    margin: 0;
    & .vertical-line-menu{      
        z-index: -6;
  position: relative;
  height: 100%;
  border-left: 5px solid $chart-ftd-color;
  display: inline-block;
    }
    & .vertical-line-hidden{
    z-index: -6;
  position: absolute;
  height: 100%;
  border-left: 5px solid $paragraph-color;
  display: inline-block;
  }
  & a{
    z-index: -6;
    position: relative;
    text-decoration: none;
    color: $grey-tab-color;
    font-size: 18px;
    width: 95%;
    display: block;
    line-height: 60px;
      &::before{
      position: absolute;
      content: '';
      display: none;      
      background-color: white;
      opacity: 0.2;      
      width: 100%;
      height: 56px;
    }
  }
  
    &:hover{
      & a::before {
        display: inline-block;
      }
      & .vertical-line-menu {
        display: inline-block;
      }
      & .vertical-line-hidden {
        display: none;
      }
    }
  }
  
  & .menu-icon {
      width: 25px;
      height: 22px;
      font-size: 18px;
      filter: invert(83%) sepia(78%) saturate(0%) hue-rotate(202deg) brightness(93%) contrast(85%);
      margin-right: 10px;
      margin-left: 10px;
  }
  }
  
  .sidebar-mentor img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  }
  
  .sidebar-mentor {
  position: relative;
  display: flex;
  justify-content: center;
  & .dot {
    height: 12px;
    width: 12px;
    background-color: #74B67A;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 15%;
    left: 42%;
  }
  }
  
  .sidebar-mentor p {
  margin-left: 20px;
  }
  
  
  
  @media(max-width: 768px) {
  .sidenav.show{
    overflow: hidden;
    width: 64px;
  height: 64px;
  padding-top: 0;
  &.menu.hide,
   .horizontal-line.hide,
   .sidenav h2 .hide,
   .sidebar-mentor.hide{
    display: none;
  }
  
  }
  .sidenav.show .logo-wrapper .logo {
    display: none;
  }
  .sidenav .logo-wrapper .hamburger-icon {
    margin-left: 23px;
    margin-top: 17px;
  }
  
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
  .sidenav.show{
    overflow: hidden;
    width: 64px;
    height: 64px;
    padding-top: 0;
    &.menu.hide,
   .horizontal-line.hide,
   .sidenav h2 .hide,
   .sidebar-mentor.hide{
    display: none;
  }
  }
  
  .sidenav.show .logo-wrapper .logo {
    display: none;
  }
  .sidenav .logo-wrapper .hamburger-icon {
    margin-left: 23px;
    margin-top: 17px;
    }
  }